body{
    font-family: 'Heebo', sans-serif;
}
h1{
    font-size: 60px;
    border-left: 4px solid white;
    border-image-source: linear-gradient(#F59660, yellow);
    border-image-slice: 7;
    padding-left: 15px;
}
#stay-focus-section{
    display: flex;
    margin-top: 150px;
    margin-left: 10%;
    text-align: justify;
    margin-bottom: 60px;
}
#mission-div{
    width: 50%;
    margin-right: 5%;
}
#person1-img{
    width: 60% ;
    height: auto;

}
#person1-img-div{
    width: 50%;
    margin-right: auto;

}
#mission-id{
    color: darkcyan;
}
.button-class{
    background-color: violet;
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 30px;
    border: 0px solid violet;
    border-radius: 5px;
}
h2{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}