body{
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}
#h1{
    font-size: 40px;
    border-left: 5px solid rgb(223, 98, 60);
    position: relative;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#stay-focus-section{
    display: flex;
    margin-top: 120px;
    margin-left: 10%;
    margin-bottom: 60px;
}
#mission-div-1{
    width: 50%;
    margin-right: 5%;
    text-align: justify;
}
#person1-img{
    width: 60% ;
    height: auto;

}
#person1-img-div{
    width: 50%;
    margin-right: auto;

}
#mission-2022-section{
    margin-left: 4%;
    margin-right: 4%;
}
.mission-2022-class{
    color: darkcyan;
}
.button-class{
    background-color: violet;
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 30px;
    border: 0px solid violet;
    border-radius: 5px;
}
h2{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}

.mission-vision-goals{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
}
.mission-vision-goals-para{
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    width: 30%;
    text-align: justify;

}
.mission-vision-goals-title{

    font-weight: 900;
    font-size: 30px;
}
.illustrators-class{
    
    width: 50%;
    height: auto;
}
#mission-div{
    background-color: rgb(240, 233, 169);
    text-align: justify;
    width: 30%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 0px solid black;
    border-radius: 20px;

}
#vision-div{
    background-color: rgb(238, 202, 202);
    text-align: justify;
    width: 30%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 0px solid black;
    border-radius: 20px;

}
#goals-div{
    background-color: rgb(163, 230, 163);
    text-align: justify;
    width: 30%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 0px solid black;
    border-radius: 20px;

}


#develop-without-limit-section{
    background-position: left;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
h3{
    font-size: 40px;
}
#develop-without-limit-div{
    width: 150%;
    padding: 0;
    margin-left: -100px;
    margin-right: 10px;
    height: 20%;
}
#coding-img{
    width: 60%;
    height: auto;
    margin-left: 15%;
    padding-left: 10px;

}
.develop-without-limit-para{
    width: 80%;
}
#know-our-global-div{
    width: 150%;
    padding-left: 5%;
    padding-right: 0;
    margin-top: 20px;
    margin-right: -100px;
    margin-left: 20px;
    height: 20%;
}
#project-img{
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-right: 4%;
    margin-left: 5%;
    padding-right: 10px;
    padding-left: 20%;
    padding-bottom: 100px;
}
#know-our-com-section{
    background-image: url(images/shapes/shape-1.png);
    background-position: right 5px bottom 20px;
    background-size: 15%;
    background-repeat: no-repeat;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

#footer-section{
    height: 160px;
    background-color: rgb(17, 17, 29);
    color: white;
    text-align: center;
    line-height: 15px;
    margin: 0px -5px;
    
}
#footer-2022{
    color: orangered;
}
h4{
    padding-top: 40px;
    font-size: 30px;
}
#optional-section{
    display: flex;
    flex-direction: row;
}
#light-img{
    font-family: 'Abril Fatface', cursive;
    border: 1px solid rgb(247, 224, 93);
    box-shadow: 5px 5px 40px rgb(223, 112, 39);
    border-radius: 30px;
    font-size: 24px;
    color: rgb(27, 19, 4);
    background-position: center;
    text-align: center;
    width: 50%;
    margin: 100px;
    height: 400px;
    background-image: url(images/pencils.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    padding: 0;
    
}
#light-img-para{
    padding: 20% 10%;
    text-align: justify;
    font-weight: 900;
}
#hold-own-light-div{
    border: 1px solid yellow;
    box-shadow: 5px 5px 50px black;
    border-radius: 30px;
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
    color: yellow;
    background-image: url(images/abstract_fire.jpg);
    background-position: center;
    text-align: center;
    width: 50%;
    margin: 100px;
    height: 400px;
    background-size: 150%;
    background-repeat: no-repeat;
    padding: 0;
}
#fire-img-para{
    font-size: 32px;
    padding: 32% 10%;
    text-align: center;
    font-weight: 900;
}
#optional-para{
    text-align:center;
    font-size: 40px;
    font-weight: 900;
}
#search-id{
    color: cadetblue;
}